@font-face {
    font-family: Molengo;
    src: url("media/foonts/molengo-regular-webfont.eot");
    /*src: local('Molengo'), local('Molengo Regular'),*/
    src: local('☺'),
         url("media/fonts/molengo-regular-webfont.woff") format("woff"),
         url("media/fonts/molengo-regular-webfont.ttf") format("truetype"),
         url("media/fonts/molengo-regular-webfont.svg#webfontN1dDPhwW") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Droid Serif";
    src: url("media/foonts/droidserif-webfont.eot");
    /*src: local('Molengo'), local('Molengo Regular'),*/
    src: local('☺'),
         url("media/fonts/droidserif-webfont.woff") format("woff"),
         url("media/fonts/droidserif-webfont.ttf") format("truetype"),
         url("media/fonts/droidserif-webfont.svg#webfontvVM6Ya0A") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Allgemein */
html {
    height: 100%;
    width: 100%;
}
body {
    margin: auto;
    width: 800px;
    background-image: -webkit-gradient(linear, 0 0, 0 100, from(#eee), to(#fff));
    /*background-image: -moz-linear-gradient(top, #eee, #fff);*/
    background-image: -moz-linear-gradient(top, #B2DFEE, #fff);
    background-repeat: no-repeat;
    font-family: 'Molengo';
    font-size: 14px;
    /*color: hsl(0,0%,40%);*/
    color: #00008B;/*hsl(0,4%,30%);*/
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: #1883cb;
}

mark {
    /*color: #000;*/
    color: #00008B;
    background: none;
    font-weight:bold;
}

header {
    padding-top: 10px;
    height: 50px;
}

header .description {
    padding-top: 18px;
    margin-left: 360px;
    font-size: 13px;
    /*color: #aaa;*/
    color: #000080;
    /*text-shadow: 1px 1px 0 white;*/
    text-shadow: 1px 1px 0 #ADD8E6;
}
header img{
    position: absolute;
}
header h2 {
    margin-left: 100px;
    color: #000080;
}
/*header h1, header h2 {
    font-family: 'Droid Serif';
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    color: #1883cb;
}
header h1 {
    font-size: 25px;
}*/
hgroup {
    /*padding-top: 4px;*/
    width: 480px;
    float: left;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0;
    padding: 6px 15px 10px;
    border-right: 1px solid hsl(0,0%,70%);
    -webkit-box-shadow: 1px 0 0 hsla(0,0%,100%,0.5);
    -moz-box-shadow: 1px 0 0 hsla(0,0%,100%,0.5);
    box-shadow: 1px 0 0 hsla(0,0%,100%,0.5);
}
nav li:first-of-type {
    padding-left: 20px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
}
nav li:last-of-type {
    border: none;
    float: right;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding-bottom: 0;
    padding-right: 20px;
}
nav li:not(:last-of-type):hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), to(#f2f2f2));
    background-image: -moz-linear-gradient(top, #1E90FF, #add8e6);
    cursor: pointer;
    color: #1883cb;
    border-right: 1px solid transparent;
    text-shadow: -1px -1px 0 hsla(0,0%,100%,0.3);
}

body > footer {
    width: 100%;
    padding: 30px;
    font-size: 90%;

    /* .border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body > footer p {
    margin-bottom: 0;
}

/*.gray-gradient {*/
nav, .info-box, body > footer {
    /*background: #d9d9d9;*/
    background: #1E90FF;
    background: -webkit-gradient(linear, left top, left bottom,
        from(#f2f2f2), to(#bfbfbf));
    /*background: -moz-linear-gradient(top, #f2f2f2, #BFBFBF);*/
    /*background: -moz-linear-gradient(top, #add8e6, #00008b); /*1874cd);*/
    background: -moz-linear-gradient(top, #add8e6, #1E90FF); /*1874cd);*/
    /*filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f2f2f2',
            endColorstr='#bfbfbf', GradientType=0);*/
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#add8e6',
            endColorstr='#00008b', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f2f2f2',
            endColorstr='#bfbfbf', GradientType=0);

    /* specific */
    /*text-shadow: 1px 1px 0 hsl(0,0%,90%);*/
    text-shadow: 1px 1px 0 #E6E6E6;
    filter: dropshadow(color=#E6E6E6, offx=1, offy=1);
}

/*.border-radius {*/
nav, .info-box, #overview, #encryption > p, #overview > article {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*.border-top-radius {*/
.info-box > div, body > footer {
    border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

/*.box-shadow {*/
nav, #overview, .info-box {
    -webkit-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    -moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
}

/*.gray-border {*/
nav, #overview, .info-box, body > footer {
    /*border: 1px solid hsl(0,0%,70%);*/
    border: 1px solid #B3B3B3;
}

/*.space-top {*/
body > *:not(header){
    margin-top: 30px;
}

/* Slideshow */
#overview {
    position: relative;
    width: 100%;
    height: 400px;
}
#overview article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    font-size: 13px;
    /* Uebergang zwischen den einzelnen Artikeln */
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#overview p {
    width: 180px;
    height: 180px;
    opacity: 0.8;
}

#programming > div{
    background-image: url(media/images/keyboard.jpg);
    background-repeat: no-repeat;
    background-position:40%;
    background-size: 150%;
}
#website > div{
    background-image: url(media/images/website.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 250%;
}

#kunstgewerbe > div{
    background-image: url(media/images/oberberger-kunstgewerbe.de.png);
    background-repeat: no-repeat;
    background-position:40%;
    background-size: 150%;
}
#blog > div{
    background-image: url(media/images/maxoberberger.net.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 170%;
}
#karoec > div{
    background-image: url(media/images/karoec.de.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 120%;
}
#lis-dns > div{
    background-image: url(media/images/cmc2-dns-plugin.png);
    background-repeat: no-repeat;
    background-position:5%;
    background-size: 125%;
}
#resapp > div{
    background-image: url(media/images/resApp.png);
    background-repeat: no-repeat;
    /*background-position:5%;*/
    background-size: 100%;
}
#gymnastik > div{
    background-image: url(media/images/ingridoberberger.de.png);
    background-repeat: no-repeat;
    background-position:45%;
    background-size: 150%;
}
#hboot > div{
    background-image: url(media/images/hboot.de.png);
    background-repeat: no-repeat;
    background-position:40%;
    background-size: 148%;
}

#overview article#encryption{
    background-image: url(media/images/verschluesselt.jpg);
}
#overview article#encryption p, #overview article#complicated p {
    height: auto;
    padding: 1em;
    margin: 70px 33px 150px auto;
    color: #333;
    background: white;
}

#overview article#complicated{
    background-image: url(media/images/complicated.jpg);
}
/*#overview article#complicated p {
    margin: 120px auto 100px 33px;
    color: white;
}*/
/*
.overview article#furniture{
    background-image: url(images/mainContent/furniture.jpg);
}
*/
/*.overview p.furniture {
    margin: 150px auto 70px 33px;
    color: hsl(0,0%,50%);
    opacity: 1;
}
.overview p.townhouse {
    margin: 120px auto 100px 33px;
    color: white;
}
.overview p.london {
    height: auto;
    padding: 1em;
    margin: 70px 33px 150px auto;
    color: #333;
    background: white;
}*/

.info-box {
    width: 250px;
    height: 350px;
}
/*.info-box:not(:last-of-type):not(:first-of-type)*/
.info-box:nth-of-type(2) {
    margin-left: 25px;
}
.info-box:not(:last-of-type) {
    float: left;
}
.info-box:last-of-type {
    margin-left: 550px;
}
.info-box > div {
    width: 100%;
    height: 200px;
    background: #000;
    border-bottom: 1px solid hsl(0,0%,90%);
}
.info-box > p {
    padding: 0 1em;
}

/* Spalten */
#customer-opinions {
    -webkit-column-width: 250px;
    -webkit-column-gap: 25px;
    -moz-column-width: 250px;
    -moz-column-gap: 25px;
    column-width: 250px;
    column-gap: 25px;
}

body > footer img#facebook {
    position: absolute;
    margin-left: 450px;
}
body > footer img#twitter {
    position: absolute;
    margin-left: 480px;
}
body > footer img#googleplus {
    position: absolute;
    margin-left: 510px;
}

/* Button */
button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #050505;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #00eeff 0%,
        #0000ff);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#00eeff),
        to(#0000ff));
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 5px solid #05008f;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

