/*
 * Logo-Farben:
 * Hellblau: 1eadfe
 * Dunkelblau: 03426b
 * Gruen: 0ccb03
 *
 * Rotation:
 * http://answers.oreilly.com/topic/1004-how-to-rotate-an-image-with-css/
 * Grad | BasicImageFilter
 * 0    | 0
 * 90   | 1
 * 180  | 2
 * 270  | 3
 *
 */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Arial;
}

/* Allgemein */
html {
    height: 100%;
    width: 100%;
}
body {
    margin: auto;
    width: 800px;
    font-family: 'Arial';
    font-size: 14px;
    color: #03426b;
}

a {
    color: inherit;
    text-decoration: inherit;
}
/*a:hover {
    color: #1883cb;
}*/

article > p a {
    text-decoration: underline;
}

mark {
    color: #00008B;
    background: none;
    font-weight:bold;
}

header {
    padding-top: 10px;
    height: 80px;
}

header .description {
    text-align: right;
    width: 330px;
    padding-top: 18px;
    margin-left: 470px;
    font-size: 13px;
    color: #03426b;
}

header > hgroup {
    position: absolute;
    background-image: url(media/images/logo.png);
    height: 100px;
    background-repeat: no-repeat;
    background-size: 27%;
}

header > img {
    position: absolute;
}

header h2 {
    margin-left: 100px;
    color: #03426b;
}

hgroup {
    width: 480px;
    float: left;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 6px 15px 10px;
    width:80px;
    text-align: center;
}

nav li:first-of-type {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
}

nav li:last-of-type {
    border: none;
    float: right;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding-bottom: 0;
    padding-right: 50px;
}

nav li:not(:last-of-type):hover {
    cursor: pointer;
    border-right: 1px solid transparent;
    text-shadow: -1px -1px 0 hsla(0,0%,100%,0.3);
}

body > footer {
    width: 100%;
    padding: 30px;
    font-size: 90%;

    /* .border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body > footer p {
    margin-bottom: 0;
}

/*.gray-gradient {*/
nav, .info-box, body > footer {
    background: #1eadfe;
}

/*.border-radius {*/
nav, .info-box, .service-info-box, .info-box-horizontal, body > iframe, .info-box-horizontal > div > img, #service-overview, #overview, #overview > article p, #overview > #encryption, #overview > #complicated{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*.border-top-radius {*/
.info-box > div, .info-box > a, body > footer {
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

/*.gray-border {*/
nav, #overview, .info-box, body > footer {
    /*border: 1px solid #B3B3B3;*/
    /*border: 1px solid #03426b;*/
    border: 1px solid #1eadfe;
}

/*.space-top {*/
body > *:not(header){
    margin-top: 30px;
}

/* Slideshow */
#overview {
    position: relative;
    width: 100%;
    height: 400px;
}

#overview article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    font-size: 13px;

    /* Uebergang zwischen den einzelnen Artikeln */
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

#overview p {
    width: 200px;
    height: 180px;
    opacity: 0.8;
}

#programmierung > div, #verschluesselung > div {
    background-image: url(media/images/puzzle-green.png);
    background-repeat: no-repeat;
    background-position:33%;
    background-size: 61%;
    margin-left:-119px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#homepage > div, #unterstuetzung > div{
    background-image: url(media/images/puzzle-light-blue.png);
    background-repeat: no-repeat;
    background-position:47%;
    background-size: 58%;
    margin-left:-103px;
}

#vcs > div, #administration > div{
    background-image: url(media/images/puzzle-dark-blue.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 52%;
    margin-left:-105px;
    margin-top: -10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#programming > div{
    background-image: url(media/images/keyboard.jpg);
    background-repeat: no-repeat;
    background-position:40%;
    background-size: 150%;
}

#website > div{
    background-image: url(media/images/lamp.jpg);
    /*background-image: url(media/images/website.png);*/
    background-repeat: no-repeat;
    background-position:10%;
    background-size: 250%;
}

#question > div{
    background-image: url(media/images/questionbox.jpg);
    background-repeat: no-repeat;
    background-position:55%;
    background-size: 140%;
}

#kunstgewerbe > a{
    background-image: url(media/images/oberberger-kunstgewerbe.de.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}

#blog > a{
    background-image: url(media/images/maxoberberger.net.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 170%;
    display: block;
}

#karoec > a {
    background-image: url(media/images/karoec.de.png);
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 120%;
    display: block;
}

#lis-dns > a {
    background-image: url(media/images/cmc2-dns-plugin.png);
    background-repeat: no-repeat;
    background-position:5%;
    background-size: 125%;
    display: block;
}

#resapp > a {
    background-image: url(media/images/resApp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}

#gymnastik > a {
    background-image: url(media/images/ingridoberberger.de.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}

#hboot > a {
    background-image: url(media/images/hboot.de.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
}

#overview article#encryption{
    background-image: url(media/images/verschluesselt.jpg);
    background-repeat: no-repeat;
    background-position:40%;
    background-size: 100%;
}

#overview article p {
    height: auto;
    padding: 1em;
    margin: 70px 33px 150px auto;
    color: #03426b;
    background: white;
}

#overview article#complicated{
    /*background-image: url(media/images/complicated-snipped.png);*/
    background-image: url(media/images/complicated-new.jpg);
    background-position:40%;
    background-size: 100%;
}

.info-box-horizontal {
    width: 800px;
    height: 300px;
}

#projekthistory {
    -webkit-column-width: 260px;
    -webkit-column-gap: 25px;
    -khtml-column-width: 260px;
    -khtml-column-gap: 25px;
    -moz-column-width: 260px;
    -moz-column-gap: 25px;
    -o-column-width: 260px;
    -o-column-gap: 25px;
    -ms-column-width: 260px;
    -ms-column-gap: 25px;
    column-width: 260px;
    column-gap: 25px;
}

.info-box-horizontal > div > img {
    /*height: 200px;*/
    width:175px;
    border-bottom: 1px solid hsl(0,0%,90%);
    /*margin-left:5px;*/
    margin-left:-14px;
    margin-top: 15px;
    /*position: absolute;*/
}

.info-box-horizontal #info-box-horizontal-description {
    height: 500px;
    width: 450px;
    position: absolute;
    padding: 0 1em;
    margin-left: 217px;
    /*margin-top: 5px;*/
}

.info-box-horizontal #info-box-horizontal-information{
    height: 200px;
    width: 180px;
    position: absolute;
    padding: 0 1em;
    /*margin-left: 480px;*/
}

.info-box-horizontal #info-box-horizontal-description ul, .info-box-horizontal #info-box-horizontal-information ul, #projekthistory > ul{
    margin-left: -25px;
}

#projekthistory > ul {
    margin-top: -0px;
}

.service-info-box {
    width: 700px;
    height: 150px;
    margin-left: 60px;
}

.service-info-box:not(:first-of-type){
    margin-top: 25px;
}

.service-info-box:not(:last-of-type) {
    float: top;
}

#app > div{
    background-image: url(media/images/app-icon.png);
    background-repeat: no-repeat;
    background-position: 10%
}

.service-info-box > div {
    width: 200px;
    height: 150px;
    margin-left: -50px;
    position: absolute;
}

.service-info-box > p {
    position: absolute;
    width: 500px;
    max-width: 400px;
    margin-left: 266px;
    padding: 0 1em;
}
.service-info-box > h4 {
    position: absolute;
    margin-left:70px;
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
}
.service-info-box .green {
    color: #0ccb03;
}
.service-info-box .light-blue{
    color: #1eadfe;
}
.service-info-box .blue {
    color: #03426b;
}

.info-box-empty {
    width: 250px;
    height: 350px;
}
.info-box-empty:nth-of-type(2) {
    margin-left: 25px;
}

.info-box-empty:not(:last-of-type) {
    float: left;
}

.info-box-empty:last-of-type {
    margin-left: 550px;
}

.info-box {
    width: 250px;
    height: 350px;
}

.info-box:nth-of-type(2) {
    margin-left: 25px;
}

.info-box:not(:last-of-type) {
    float: left;
}

.info-box:last-of-type {
    margin-left: 550px;
}

.info-box > a{
    width: 100%;
    height: 200px;
    background: #000;
    border-bottom: 1px solid hsl(0,0%,90%);
    text-indent: -9999px;
}

.info-box > div {
    width: 100%;
    height: 200px;
    background: #000;
    border-bottom: 1px solid hsl(0,0%,90%);
}

.info-box > p {
    padding: 0 1em;
}

/* Spalten */
#customer-opinions {
    -webkit-column-width: 250px;
    -webkit-column-gap: 25px;
    -moz-column-width: 250px;
    -moz-column-gap: 25px;
    column-width: 250px;
    column-gap: 25px;
}

body > footer img#facebook {
    position: relative;
    float: right;
    margin-right: 5px;
    height:25px;
}

body > footer img#twitter {
    position: relative;
    float: right;
    margin-right: 5px;
    height:25px;
}

body > footer img#googleplus {
    position: relative;
    float: right;
    margin-right: 5px;
    height:25px;
}
